<!DOCTYPE html>
<html>
<head>
    <title>PC HUB API</title>
</head>
<body>
    <div style='padding:10px 0 0 30px'>
        <h2>Step by step to build a single page application (SPA).</h2>
        <div style='color:#888'>
            We will build a single page application step by step with the following features
            <ul>
                <li>Single page application –– fast response, batter user experience</li>
                <li>Static web hosting  from anywhere –– fast, secure and low cost or free (using GitHub+CloudFlare free services) </li>
                <li>No server side coding –– simple development and easy maintenance</li>
                <li>Modular distributed –– scalable, flexible, reusable  and easy replaceable</li>
                <li>Data access with APIs –– directly read/write data from/to a cloud database with APIs</li>
            </ul>
            You need to have some basic knowledge of HTML,CSS and JavaScript.<br>
        </div>
        <br>
        <div class=columnbox__ID>
            <span>Startup</span>
            <ul>
                <li><a href=https://codepen.io/vmiis/pen/OwgzmV/ target=_blank>SPA - start with a simple layout</a></li>
                <li><a href=https://codepen.io/vmiis/pen/JBrdMq/ target=_blank>Create a module (web page)</a></li>
                <li><a href=https://codepen.io/vmiis/pen/ajLZxp/ target=_blank>SPA - loading module into the content div</a></li>
                <li><a href=https://codepen.io/vmiis/pen/EpwQwO/ target=_blank>SPA - make a proper header, footer and background with CSS</a></li>
                <li><a href=https://codepen.io/vmiis/pen/RBjbJP/ target=_blank>Create a home module</a></li>
                <li><a href=https://codepen.io/vmiis/pen/bjYGpa/ target=_blank>SPA - home module loaded at start point</a></li>
                <li><a href=https://codepen.io/vmiis/pen/ajEJPW/ target=_blank>Make a responsive header and menu</a></li>
                <li><a href=https://codepen.io/vmiis/pen/KBQGgw/ target=_blank>SPA - responsive header and menu</a></li>
            </ul>
            <span>Animation background</span>
            <ul>
                <li><a href=https://codepen.io/vmiis/pen/MBXQjx/ target=_blank>Create a particle background module</a></li>
                <li><a href=https://codepen.io/vmiis/pen/varRJV/ target=_blank>SPA - particle background</a></li>
                <li><a href=https://codepen.io/vmiis/pen/ZjRjwy/ target=_blank>Create a fountains illumination background module</a></li>
                <li><a href=https://codepen.io/vmiis/pen/oMyMOa/ target=_blank>SPA - fountains illumination background</a></li>
            </ul>
            <span>Common style of static modules used in a website</span>
            <ul>
                <li><a href=https://codepen.io/vmiis/pen/BPPaqX/ target=_blank>About</a></li>
                <li><a href=https://codepen.io/vmiis/pen/PBaVwj/ target=_blank>2 columns contents module</a></li>
                <li><a href=https://codepen.io/vmiis/pen/RBBPvj/ target=_blank>Services</a></li>
                <li><a href=https://codepen.io/vmiis/pen/bjjpPQ/ target=_blank>Trainers</a></li>
                <li><a href=https://codepen.io/vmiis/pen/wxxGyj/ target=_blank>Prices</a></li>
                <li><a href=https://codepen.io/vmiis/pen/QBVrYd/ target=_blank>Pricing plan</a></li>
                <li><a href=https://codepen.io/vmiis/pen/QBxYNx/ target=_blank>Carousel module</a></li>
                <li><a href=https://codepen.io/vmiis/pen/rrrBQa/ target=_blank>SPA - show modules we have made</a></li>
            </ul>
            <span>Layout</span>
            <ul>
                <li><a href=https://codepen.io/vmiis/pen/rrrwGM/ target=_blank>SPA - push down footer when contents is longer</a></li>
                <li><a href=https://codepen.io/vmiis/pen/jppLam/ target=_blank>SPA - scrolling header, contents and footer together when page is longer</a></li>
            </ul>
            <span>Database API</span>
            <ul>
                <li><a href=https://codepen.io/vmiis/pen/jppYxw/ target=_blank>Data collection, submit form data to a cloud database</a></li>
                <li><a href=https://codepen.io/vmiis/pen/EppBoZ/ target=_blank>Make a proper form with data validation</a></li>
                <li><a href=https://codepen.io/vmiis/pen/rrZyqd/ target=_blank>Make the form module code simple by using common code inclusion</a></li>
                <li><a href=https://codepen.io/vmiis/pen/qyMVXr/ target=_blank>Make a contact us page with proper CSS style</a></li>
                <li><a href=https://codepen.io/vmiis/pen/jpvLzV/ target=_blank>Read data from cloud database to client side</a></li>
                <li><a href=https://codepen.io/vmiis/pen/yqxzYv/ target=_blank>Make the data module code simple by using common code inclusion</a></li>
                <li><a href=https://codepen.io/vmiis/pen/OwoOqd/ target=_blank>SPA - show modules we have made about APIs</a></li>
            </ul>
            <br>
            Next one comming soon...
            @RenderBody()
        </div>
    </div>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: Arial;
            color: #fff;
            background-color: #1d1d23;
        }

        a {
            color: #fff;
        }

            a:hover {
                color: red;
            }

        .columnbox__ID {
            max-width: 800px;
            column-count: 2;
            column-width: 300px;
            column-gap: 30px;
            padding: 0 0 30px 0;
        }
    </style>
</body>
</html>
