<main class="main">
  <h1 class="mat-display-1">Políticas de Privacidad de Palo Santo Brewing Co.</h1>
  <section>
    <h1 class="mat-h1">1. Introducción</h1>
    <p class="mat-body">
      En Palo Santo, queremos darle la mejor experiencia posible para garantizar que disfrute de nuestro servicio hoy,
      mañana y en el futuro. Para ello, necesitamos entender sus hábitos de compra con el objeto de ofrecer un servicio
      excepcional y personalizado específicamente para usted. Dicho esto, su privacidad y la seguridad de sus datos
      personales es, y será siempre, enormemente importante para nosotros. Por lo tanto, queremos explicar de forma
      transparente cómo y por qué recopilamos, almacenamos y utilizamos sus datos personales. Queremos dejar en claro
      que no compartiremos ninguna información personal de usted a terceros.
      Ese es nuestro objetivo, y en esta Política de privacidad (“Política”) se explicará exactamente y en detalle
      nuestra intención a continuación.
    </p>
  </section>
  <section>
    <h1 class="mat-h1">2. ¿Cómo recopilamos sus datos personales?</h1>
    <h2 class="mat-h2">
      Recopilamos sus datos personales de las siguientes maneras:
    </h2>
    <mat-list>
      <mat-list-item class="h-auto">
        <p matLine class="mat-body-strong mat-line">
          Cuando se registra en la Web de Palo Santo:
        </p>
        <p matLine class="mat-body">
          Cuando se registra en la web, recopilamos ciertos datos
          personales para que pueda utilizar los servicios de la web, como su dirección de correo electrónico, la fecha de
          nacimiento, su sexo, dirección, ciudad, teléfono, y el país.
        </p>
      </mat-list-item>
      <mat-list-item class="h-auto">
        <p matLine class="mat-body-strong mat-line">
         Mediante el uso de la Web de Palo Santo:
        </p>
        <p matLine class="mat-body">
          Cuando utiliza la web de Palo Santo, recopilamos datos
          personales sobre su uso, como que compras realizo, o que productos le interesa.
        </p>
      </mat-list-item>
      <mat-list-item class="h-auto">
        <p matLine class="mat-body-strong mat-line">        
            Datos personales recopilados que nos permiten ofrecerle características o funciones adicionales:
        </p>
        <p matLine class="mat-body">
          De vez en cuando, también puede proporcionarnos datos personales adicionales o darnos su permiso para recopilar datos
          personales adicionales, por ejemplo, para proporcionarle más características o funciones. No recopilamos fotos,
          ni la ubicación precisa de dispositivos móviles, ni datos de sus tarjetas o medios de pago. Siempre tendrá la
          opción de cambiar de parecer y retirar su consentimiento en cualquier momento.
        </p>
      </mat-list-item>
      <mat-list-item class="h-auto">
        <p matLine class="mat-body">
          Usamos información anónima y agrupada para propósitos que incluyen pruebas en nuestros sistemas de TI,
          investigación, análisis de datos, creación de modelos de marketing y promoción, mejora del Servicio de la Web, y
          desarrollo de nuevas características y funcionalidades
        </p>
      </mat-list-item>
    </mat-list>
  </section>
  <section>
    <h1 class="mat-h1">3. ¿Qué datos personales recopilamos de usted?</h1>
    <h2 class="mat-h3">
      Hemos establecido en las tablas a continuación las categorías de datos personales que recopilamos y utilizamos
      sobre usted:
    </h2>
    <h5 class="mat-h2">Datos personales recopilados cuando se registra en la Web de Palo Santo</h5>
    <table class="mat-table">
      <thead role="rowgroup">
        <tr class="mat-header-row'">
          <th class="mat-header-cell w-32">
            <h3 class="mat-h3">Categorías de datos personales</h3>
          </th>
          <th class="mat-header-cell">
            <h3 class="mat-h3">Descripción de la categoría</h3>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="mat-row">
          <td class="mat-cell">
            <p class="mat-body-strong">Datos de registro de la cuenta</p>
          </td>
          <td class="mat-cell">
            <p class="mat-body-1">
              Estos son los datos personales que ha proporcionado o que hemos recopilado para que pueda registrarse y
              utilizar los servicios de la web. Esto incluye su dirección de correo electrónico, fecha de nacimiento, sexo,
              dirección de domicilio y/o trabajo, ciudad, teléfono y país.
            </p>
            <p class="mat-body-1">
              Algunos de los datos personales que le pediremos se necesitan para crear su cuenta. También tiene la opción de
              proporcionarnos algunos datos personales adicionales para personalizar más su cuenta.
            </p>
            <p class="mat-body-1">
              Si utiliza un Servicio de terceros para registrarse y utilizar los servicios de la web. Si utiliza un Servicio
              de terceros para crear una cuenta, recibiremos datos personales a través de ese Servicio de terceros, pero
              solo cuando haya accedido a que el Servicio de terceros comparta sus datos personales con nosotros.
            </p>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">
            <p class="mat-body-strong">Datos de uso de la web</p>
          </td>
          <td class="mat-cell">
            <p class="mat-body-1">
              Estos son los datos personales que se recopilan cuando usa la web; esto puede incluir:
            </p>
            <mat-list>
              <mat-list-item>
                <p class="mat-body-1">
                  - Información acerca de las compras realizadas
                </p>
              </mat-list-item>
              <mat-list-item class="h-auto">
                <p class="mat-body-1">
                  - Información acerca de sus interacciones con la web, que incluye la fecha y la hora de cualquier solicitud
                  que haga, productos agregados a su carrito.
                </p>
              </mat-list-item>
              <mat-list-item class="h-auto">
                <p class="mat-body-1">
                  - Datos técnicos que pueden incluir la información de URL, los datos de cookies, su dirección IP, los tipos
                  de dispositivos que utiliza para acceder o conectarse a la web, los identificadores de dispositivos únicos,
                  los atributos del dispositivo, el tipo de conexión de red (p. ej., WiFi, 3G, LTE, Bluetooth) y el
                  rendimiento del proveedor, la red y el dispositivo, el tipo de navegador, el idioma, la información que
                  permite la administración de derechos digitales, el sistema operativo.
                </p>
              </mat-list-item>
            </mat-list>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">
            <p class="mat-body-strong">Datos de pago</p>
          </td>
          <td class="mat-cell">
            <p class="mat-body-1">
              Podemos recopilar estos datos personales si se registra en un período de prueba o compra cualquiera de
              nuestros productos. Los datos personales exactos que recopilamos variarán según el método de pago (por
              ejemplo, directamente a través de la web), pero incluirán información como:
            </p>
            <mat-list>
              <mat-list-item>
                <p class="mat-body-1">
                  - Nombre
                </p>
              </mat-list-item>
              <mat-list-item>
                <p class="mat-body-1">
                  - Fecha de Nacimiento
                </p>
              </mat-list-item>
              <mat-list-item>
                <p class="mat-body-1">
                  - Número de teléfono móvil; y
                </p>
              </mat-list-item>
              <mat-list-item>
                <p class="mat-body-1">
                  - Detalles del historial de transacciones;
                </p>
              </mat-list-item>
            </mat-list>
            <p class="mat-body-1">
              Si elige pagar con factura, proporcionaremos sus datos personales a nuestros procesadores de pago para poder completar un cheque de crédito y enviarle las facturas.
            </p>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">
            <p class="mat-body-strong">Datos de concursos, encuestas y sorteos</p>
          </td>
          <td class="mat-cell">
            <p class="mat-body-1">
              Estos datos personales se utilizan para que se registre y participe en estos tipos de promociones. Los datos personales exactos que recopilamos variarán en función de la promoción.
            </p>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">
            <p class="mat-body-strong">Datos de Marketing</p>
          </td>
          <td class="mat-cell">
            <p class="mat-body-1">
              Estos datos personales se utilizan para permitir que Palo le envíe comunicaciones de marketing:
            </p>
            <mat-list>
              <mat-list-item>
                <p class="mat-body-1">
                  - Por correo electrónico,
                </p>
              </mat-list-item>
              <mat-list-item>
                <p class="mat-body-1">
                  - Mientras usa la web
                </p>
              </mat-list-item>
            </mat-list>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h1 class="mat-h1">
      4. ¿Para qué usamos sus datos personales?
    </h1>
    <h2 class="mat-body-1">
      Cuando utiliza o interactúa con la web de Palo Santo, utilizamos una variedad de tecnologías para procesar los datos personales que recopilamos sobre usted por varias razones. En la siguiente tabla establecimos el motivo para procesar sus datos personales, las bases legales relacionadas que nos permiten legalmente procesar sus datos personales y las categorías de datos personales (identificados en la Sección 3 “¿Qué datos personales recopilamos de usted?”) utilizados para estos fines:
    </h2>
    <table class="mat-table">
      <thead role="rowgroup">
        <tr class="mat-header-row'">
          <th class="mat-header-cell">
            <h3 class="mat-h3">Descripción de por qué Palo Santo procesa sus datos personales (“propósito del procesamiento”)</h3>
          </th>
          <th class="mat-header-cell">
            <h3 class="mat-h3">Categorías de datos personales utilizados por Palo Santo para el propósito del procesamiento</h3>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="mat-row">
          <td class="mat-cell">
            <p class="mat-body">Para proporcionar, personalizar y mejorar su experiencia con el Servicio de web.</p>
          </td>
          <td class="mat-cell">
            <mat-list>
              <mat-list-item>
                <p class="mat-body-strong">
                  - Datos de Registro de la cuenta
                </p>
              </mat-list-item>
              <mat-list-item class="h-auto">
                <p class="mat-body-strong">
                  - Datos de uso del servicio
                </p>
              </mat-list-item>
            </mat-list>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">
            <p class="mat-body">
              Para comunicarse con los propósitos relacionados con el uso de la web o las compras realizadas en la web.
            </p>
          </td>
          <td class="mat-cell">
            <mat-list>
              <mat-list-item>
                <p class="mat-body-strong">
                  - Datos de Registro de la cuenta
                </p>
              </mat-list-item>
              <mat-list-item class="h-auto">
                <p class="mat-body-strong">
                  - Datos de uso del servicio
                </p>
              </mat-list-item>
            </mat-list>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">
            <p class="mat-body">
              Para procesar su pago y así prevenir o detectar fraude, incluidos los pagos fraudulentos y el uso fraudulento del servicio de compra de la web de Palo Santo.
            </p>
          </td>
          <td class="mat-cell">
            <mat-list>
              <mat-list-item>
                <p class="mat-body-strong">
                  - Datos personales para las compras online
                </p>
              </mat-list-item>
            </mat-list>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">
            <p class="mat-body">
              Para comunicarse con usted, para:
            </p>
            <mat-list>
              <mat-list-item>
                <p class="mat-body">
                  - Marketing
                </p>
              </mat-list-item>
              <mat-list-item>
                <p class="mat-body">
                  - Investigación
                </p>
              </mat-list-item>
              <mat-list-item>
                <p class="mat-body">
                  - Participación en concursos, encuestas y sorteos,
                </p>
              </mat-list-item>
              <mat-list-item>
                <p class="mat-body">
                  - Propósitos promocionales,
                </p>
              </mat-list-item>
              <p class="mat-body">
                - Por email, notificaciones u otros mensajes, consistentes con los permisos que nos pueda haber comunicado.
              </p>
            </mat-list>
          </td>
          <td class="mat-cell">
            <mat-list>
              <mat-list-item>
                <p class="mat-body-strong">
                  - Datos de concursos, encuestas y sorteos
                </p>
              </mat-list-item>
              <mat-list-item>
                <p class="mat-body-strong">
                  - Datos de marketing
                </p>
              </mat-list-item>
            </mat-list>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h1 class="mat-h1">
      5. Cambios a esta Política de privacidad
    </h1>
    <p class="mat-body">
      Ocasionalmente podemos hacer cambios a esta Política.
    </p>
    <p class="mat-body">
      Cuando hagamos cambios importantes a esta Política, le proporcionaremos un aviso notorio de forma adecuada sobre las circunstancias, por ejemplo, mediante un email. Podemos notificarle con anticipación.
    </p>
    <p class="mat-body">
      Por lo tanto, asegúrese de leer cualquier aviso cuidadosamente.
    </p>
    <p class="mat-body">
      Si desea obtener más información sobre esta Política y cómo Palo Santo utiliza sus datos personales puede contactarnos a través de la página de Contacto de nuestra web palosantobrewingco.com.py
    </p>
  </section>
</main>
