main {
  max-width: 992px;
  padding: 32px;
  margin: auto;
  background: white;
}
section {
  max-width:  992px;
  margin: auto;
  margin-top: 56px;
}
.h-auto {
  height: auto!important;
}
.w-32 {
  width: 32%;
}
.mat-row {
  border-bottom: 2px solid rgba(0,0,0,0.05)
}
.mat-table {
  margin-top: 48px;
  box-shadow: unset;
  border-left: 1px solid rgba(0,0,0,0.12);
  border-right: 1px solid rgba(0,0,0,0.12);
  border-bottom: 2px solid rgba(0,0,0,0.12)
}
.mat-body-strong {
  font-weight: 500!important
}
.mat-line {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
