<section class="container">
  <div class="row">
    <div class="col-12">
        <p class="page-desc">En esta página se definen las categorías y sub-categorias para los productos</p>
    </div>
  </div>
  <!--
  <nav class="administrador">
  </nav> -->
  <div class="row" style="margin-top: 30px;">
    <div class="col-12" style="max-height: 450px; overflow: auto;">
      <mat-progress-bar mode="buffer" *ngIf="loadingCategories"></mat-progress-bar>
      <table class="mat-elevation-z6 mat-table" role="grid">
        <thead role="rowgroup">
          <tr style=" background: white">
            <td class="mat-table-sticky" style="top: 0px; position: sticky; z-index: 100;" colspan="3">
              <h1 class="section-title">Categorías</h1>
            </td>
          </tr>
          <tr class="mat-header-row">
            <th class="mat-header-cell mat-table-sticky" style="top: 30.44px; position: sticky; z-index: 100;">#</th>
            <th class="mat-header-cell mat-table-sticky" style="top: 30.44px; position: sticky; z-index: 100;">Nombre</th>
            <th class="mat-header-cell mat-table-sticky" style="top: 30.44px; position: sticky; z-index: 100;">Opciones</th>
          </tr>
        </thead>
        <tbody role="rowgroup" [hidden]="loadingCategories">
          <tr *ngFor="let category of categories; let i = index;" role="row" class="mat-row">
            <td class="mat-cell cell-id" role="gridcell" title="{{ category.id }}">{{ i + 1 }}</td>
            <td class="mat-cell" role="gridcell">{{ category.name }}</td>
            <td class="mat-cell" role="gridcell">
              <button mat-button [routerLink]="['/admin/category-upsert', category.id]">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-button (click)="deleteCategory(category.id)">
                <mat-icon>clear</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot role="rowgroup" class="mat-table-sticky" style="bottom: 0px; position: sticky; z-index: 10;">
          <tr _ngcontent-auu-c38="" class="mat-footer-row ng-star-inserted" role="row">
            <td colspan="3" class="mat-footer-cell cdk-column-cost mat-column-cost mat-table-sticky ng-star-inserted" role="gridcell" style="bottom: 0px; position: sticky; z-index: 10;">
              <button mat-button routerLink="/admin/category-upsert" class="add-btn">
                <mat-icon>add</mat-icon>
                Agregar
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-12" style="max-height: 520px; overflow: auto;">
      <mat-progress-bar mode="buffer" *ngIf="loadingCategories"></mat-progress-bar>
      <table class="mat-elevation-z6 mat-table" role="grid">
        <thead role="rowgroup">
          <tr style=" background: white">
            <td class="mat-table-sticky" style="top: 0px; position: sticky; z-index: 100;" colspan="4">
              <h1 class="section-title">Sub-Categorías</h1>
            </td>
          </tr>
          <tr class="mat-header-row">
            <th class="mat-header-cell mat-table-sticky" style="top: 30.44px; position: sticky; z-index: 100;">#</th>
            <th class="mat-header-cell mat-table-sticky" style="top: 30.44px; position: sticky; z-index: 100;">Nombre</th>
            <th class="mat-header-cell mat-table-sticky" style="top: 30.44px; position: sticky; z-index: 100;">Categoria</th>
            <th class="mat-header-cell mat-table-sticky" style="top: 30.44px; position: sticky; z-index: 100;">Opciones</th>
          </tr>
        </thead>
        <tbody role="rowgroup" [hidden]="loadingSubCategories">
          <tr *ngFor="let subCategory of subCategories; let i = index;" role="row" class="mat-row">
            <td class="mat-cell cell-id" role="gridcell" title="{{ subCategory.id }}">{{ i + 1 }}</td>
            <td class="mat-cell" role="gridcell">{{ subCategory.name }}</td>
            <td class="mat-cell" role="gridcell">{{ subCategory.category.name }}</td>
            <td class="mat-cell" role="gridcell">
              <button mat-button [routerLink]="['/admin/subcategory-upsert', subCategory.id]">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-button (click)="deleteSubCategory(subCategory.id)">
                <mat-icon>clear</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot role="rowgroup" class="mat-table-sticky" style="bottom: 0px; position: sticky; z-index: 10;">
          <tr _ngcontent-auu-c38="" class="mat-footer-row ng-star-inserted" role="row">
            <td colspan="4" class="mat-footer-cell mat-table-sticky ng-star-inserted" role="gridcell" style="bottom: 0px; position: sticky; z-index: 10;">
              <button routerLink="/admin/subcategory-upsert" class="add-btn">
                <mat-icon>add</mat-icon>
                Agregar
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
