<section id="cerveceria">
  <div class="section-header">
    <h1 class="section-title">Avisos Legales</h1>
    <h3 class="section-subtitle">Historia</h3>
  </div>
  <div class="container-fluid" fxLayout="row">
    <div class="section-text-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p class="hide-small">
        Porque siempre puede haber una mejor cerveza en el aire. Y es nuestro deber hacerla aterrizar. Buscamos descubrir nuevos estándares en el gusto local. Y cuando decimos gusto, nos referimos al amplio sentido de la palabra. Porque así como una guarania puede encantarnos el corazón, una receta perfectamente equilibrada puede enamorarnos el alma. Y es así como asumimos la tarea de quedarnos en el medio y a través de esto, ser los mediadores entre nuestra gente que tiene algo para ofrecer y la que tiene algo para aprender.
      </p>
      <p class="hide-small">Amamos lo paraguayo pero creemos en un mundo sin barreras. Porque sin etiquetas, la magia de “chupar” con alguien se transforma en un experimento multicultural donde todos compartimos todo. Y eso humanamente, nos enriquece hasta el infinito. Agradecemos a la Creación toda, la posibilidad que nos otorga de asumir nosotros el papel de creadores combinando sus ingredientes puros, extraídos de esta tierra roja. Y prometemos brindar nuestro arte sano, mientras haya un motivo por el que brindar.</p>
      <small> Palo Santo Brewing Co. – Octubre 2017. </small>
    </div>
  </div>
</section>
