table td {
  vertical-align: middle !important;
  padding: .75rem 5px !important;
}

th {
  color: #7A7A7A;
  text-transform: uppercase;
  letter-spacing: 2px;
  vertical-align: middle;
}

.spec {
  display: flex;
  align-items: center;
}

.spec-item {
  flex-wrap: wrap;
}

.product-row {
  border-bottom: 1px solid #dee2e6;
}

.product-image {
  max-width: 255px;
  width: 255px;
}

.table-container {
  background: white;
  padding: 25px 25px 25px;
  border-radius: 4px;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.subtotals {
  font-size: 18px;
  width: 100%;
  text-align: right;
  padding: 15px;
}

.totals {
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  width: 100%;
  background: white;
  padding: 15px;
  border-radius: 4px;
}

.label-title {
  color: #7A7A7A;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Pier Sans Bold";
  font-size: 9pt;
  margin-bottom: 25px;
}

.subtotals label, .totals label {
  margin: 0 5px;
}
.order-number {
  padding: 12px 0;
  padding-left: 18px;
  margin-left: -15px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #afafaf;
}
.total {
  font-family: "Pier Sans Bold";
  color: #54682A;
  font-size: 14pt;
  display: flex;
  align-items: center;
}

.cart-header {
  font-size: 9pt;
}

.localmark .radiomark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 100%;
  border: 1px solid #54682A
}

.localmark {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #5F6772;
  padding-top: 6px;
}

  .localmark input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin: 10px 0;
  }

  .localmark:hover input ~ .radiomark {
    background-color: #ccc;
    transition: all 150ms ease;
  }
  /* When the checkbox is checked, add a blue background */
  .localmark input:checked ~ .radiomark {
    background-color: #54682A;
  }

/* Create the checkmark/indicator (hidden when not checked) */
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.localmark input:checked ~ .radiomark:after {
  display: block;
}
/* Style the checkmark/indicator */
.localmark .radiomark:after {
  left: 9px;
  top: 6px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.table-footer {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin: 15px auto;
  width: 100%;
}

.label {
  text-transform: uppercase;
  font-family: 'Pier Sans Bold', sans-serif;
  margin: auto 5px;
}

.subtitle {
  color: #7A7A7A;
  text-transform: uppercase;
  font-size: 1em;
  margin: auto 5px;
}

.cart-actions {
  justify-content: center;
  margin: 15px auto;
}

.cantidad {
  background: rgba(84, 104, 42, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-family: "Pier Sans Bold";
  color: #54682A;
  border-radius: 3px;
  max-width: 11em;
}

  .cantidad input {
    background: transparent;
    border: none;
    text-align: center;
    padding-left: 15px;
    color: #54682A;
    max-width: 4em;
  }

  .cantidad button {
    font-size: 22px;
    color: #54682A;
    width: 42px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.product-name {
  font-family: "Bushcraft", Impact;
  font-size: 1.6em;
  margin: 0;
  line-height: 1;
}

.section-title {
  font-family: "Pier Sans Bold";
}

.product-row {
  border-bottom: 1px solid #dee2e6;
}

.product-thumb {
  width: 125px;
  height: 125px;
  object-fit: contain;
}

.price {
  vertical-align: middle !important;
  text-align: right;
}

.table-small {
  display: none;
}

.cart-options {
  padding-bottom: 25px;
}

.only-small {
  display: none;
}

.only-big {
  display: block
}

.totals.up {
  padding-top: 0;
  background: none;
}

.icon-small {
  font-size: 1.5em;
  margin: 0 10px 0 0;
  width: 15px;
  height: 100%;
  color: #54682A;
  display: none;
  align-items: center;
}

.coupon-actions {
  justify-content: space-around;
}
.product-image {
  max-width: 125px;
  width: 125px;
  height: 125px;
  object-fit: contain;
}

@media screen and (max-width: 1600px) {
  .section-title {
    font-size: 2em !important;
  }
}

@media screen and (max-width: 1200px) {

  table td {
    vertical-align: middle !important;
    padding: .75rem 5px !important;
  }

  .cantidad {
    max-width: 11em;
  }
}

@media screen and (max-width: 992px) {
  .table-big {
    display: none;
  }

  .cantidad input {
    height: 1.5em;
  }

  .totals {
    font-size: 16px;
  }

  .table-small {
    display: table;
  }

  .product-image {
    max-width: 125px;
    width: 125px;
  }

  .price {
    font-size: 20px;
  }

  .table-container {
    max-width: 500px;
    margin: auto;
  }

  .totals button {
    margin-left: auto;
  }

  .totals.up {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -2px 0.75rem rgba(0, 0, 0, .05);
    background: white;
    display: flex;
    align-items: center;
    padding-top: 15px;
  }

  .only-small {
    display: flex;
    margin-left: auto;
  }

  .only-big {
    display: none;
  }

  .icon-small {
    display: flex;
  }

  .coupon-actions {
    justify-content: space-around;
    margin-bottom: 25px;
  }

  .cart-options ~ .row > .totals {
    max-width: 500px;
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 668px) {
  .table-container {
    padding: 15px 15px 0;
  }

  .cart-options {
    padding: 0;
    padding-bottom: 25px;
  }

  .cart-actions button {
    padding: 12px 18px;
    font-size: 8pt;
    border-radius: 20px;
  }
}

@media screen and (max-width: 445px) {
  #cartOptions ~ .row > .totals > .total:first-of-type {
    display: flex;
  }

  .cantidad {
    flex-wrap: wrap;
  }

    .cantidad input {
      height: 1.5em;
      padding: 0;
      max-width: 2em;
    }

    .cantidad button {
      margin: 0;
    }

  .product-thumb {
    width: 90px;
    height: 90px;
  }

  .product-image {
    max-width: 110px;
    width: 110px;
  }

  .total:first-of-type {
    display: none;
  }

  .total {
    font-size: 1.2em;
    display: flex;
    align-items: center;
  }

  .cart-actions button span {
    display: none;
  }
}
