<section class="container">
  <div class="row">
    <div class="col-12">
      <p class="page-desc">En esta página se crean usuarios</p>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;background: white; padding: 15px;">
    <label>
      Filtrar:
      <input type="text" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </label>
    <h1 class="section-title w-100">
      <mat-icon>library_books</mat-icon>
      Usuarios
    </h1>
    <mat-progress-bar mode="buffer" *ngIf="loading"></mat-progress-bar>
    <table [dataSource]="dataSource" matSort mat-table role="grid" [hidden]="loading">
      <ng-container cdkColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> # </th>
        <td mat-cell *cdkCellDef="let element; let i = index;" title="{{element.id}}">{{i + 1}}</td>
      </ng-container>
      <ng-container cdkColumnDef="username">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Usuario </th>
        <td mat-cell *cdkCellDef="let element">{{element.username}}</td>
      </ng-container>
      <ng-container cdkColumnDef="document">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Documento</th>
        <td mat-cell *cdkCellDef="let element">{{element.document}}</td>
      </ng-container>
      <ng-container cdkColumnDef="phoneNumber">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Telefono</th>
        <td mat-cell *cdkCellDef="let element">{{element.phoneNumber}}</td>
      </ng-container>
      <ng-container cdkColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Accciones </th>
        <td mat-cell *cdkCellDef="let element">
          <button mat-button [routerLink]="['/admin/user-upsert', element.id]" class="btn-circle btn-line">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button class="btn-line btn-circle" (click)="deleteUser(element.id)">
            <mat-icon>clear</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns" [hidden]="loading"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons [hidden]="loading" class="w-100"></mat-paginator>
  </div>
</section>
