<div class="row">
  <div class="col-12 added">
    <div>
      <h1 class="section-title w-100">Agregado!</h1>
    </div>
    <table class="mat-table " role="grid">
      <thead role="rowgroup">
        <tr class="mat-header-row">
          <th class="mat-header-cell">Producto</th>
          <th class="mat-header-cell"></th>
          <th class="mat-header-cell price">Precio</th>
          <th class="mat-header-cell subtotal">Subtotal</th>
        </tr>
      </thead>
      <tbody role="rowgroup">
        <tr class="mat-row" role="row">
          <td class="mat-cell td-img" role="gridcell" title="">
            <span *ngFor="let photo of product.photos">
              <span *ngIf="photo.main">
                <span *ngFor="let photoItem of photo.images">
                  <img *ngIf="photo.main" class="product-thumb" [src]="photoItem.url" alt="{{product.name}}" />
                </span>
              </span>
            </span>
          <td class="mat-cell cant-desktop" role="gridcell">
            <p class="product-name">{{product.name}}</p>
            <div class="cantidad" [formGroup]="shopItemForm">
              <button (click)="subtract()" [disabled]="shopItemForm.get('quantity').value <= 0"><mat-icon>remove</mat-icon></button>
              <input id="cantProduct1" type="number" name="name" formControlName="quantity" />
              <button (click)="add()"><mat-icon>add</mat-icon></button>
            </div>
          </td>
          <td class="mat-cell price" role="gridcell">{{ product.price | formatNumber}} Gs.</td>
          <td class="mat-cell subtotal" role="gridcell">{{ totalPrice | formatNumber}} Gs.</td>
        </tr>
      </tbody>
    </table>
    <div class="row" style="justify-content: flex-end; background: white; margin: 0; width: 100%">
      <div class="totals col-12">
        <label class="total">Total: </label>
        <label class="total">{{ totalPrice | formatNumber}} Gs.</label>
      </div>
      <div class="actions">
        <div class="cart-actions">
          <button mat-button (click)="closeSheet();">Seguir comprando</button>
          <button mat-button [routerLink]='["/cart"]' (click)="closeSheet();">Ver carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>
