<section class="container">
  <div class="row">
    <div class="col-3 form-upsert" style="max-height: 60px;">
      <button (click)="back()" mat-button style="display: flex; align-items: center; margin-bottom: 10px;" class="add-btn">
        CANCELAR
      </button>
    </div>
    <div class="form-upsert d-flex col-12 col-sm-8 m-auto">
      <form class="form-inline" [formGroup]="couponForm" (ngSubmit)="createCoupons()">
        <mat-progress-bar mode="buffer" *ngIf="loading"></mat-progress-bar>
        <div [hidden]="loading">
          <div class="section-header section-inverted">
            <img src="../../../assets/images/brand/logoB.svg" alt="Palo Santo Logo" class="logo-B" />
          </div>
          <h1 class="section-title">Generar Cupónes</h1>
          <div class="form-group">
            <label class="form-label">
              <p>Cantidad:</p>
              <input type="number" formControlName="quantity" [style.max-width.em]="10">
              <span class="text_info text_warning" *ngIf="cf.quantity.invalid && (cf.quantity.dirty || cf.quantity.touched) && cf.quantity.errors.required">Este campo es obligatorio</span>
            </label>
          </div>
          <div class="form-group">
            <label class="form-label">
              <p>Porcentaje:</p>
              <input type="number" formControlName="percentage" [style.max-width.em]="10">
              <span class="text_info text_warning" *ngIf="cf.percentage.invalid && (cf.percentage.dirty || cf.percentage.touched) && cf.percentage.errors.required">Este campo es obligatorio</span>
            </label>
          </div>
          <div class="form-group">
            <label class="form-label">
              <p>Descripción:</p>
              <textarea formControlName="description"></textarea>
              <span class="text_info text_warning" *ngIf="cf.description.invalid && (cf.description.dirty || cf.description.touched) && cf.description.errors.required">Este campo es obligatorio</span>
            </label>
          </div>
          <div class="form-group">
            <label class="form-label">
              <p>Fecha de expiración:</p>
              <input type="date" formControlName="expirationDate">
              <span class="text_info text_warning" *ngIf="cf.expirationDate.invalid && (cf.expirationDate.dirty || cf.expirationDate.touched) && cf.expirationDate.errors.required">Este campo es obligatorio</span>
            </label>
          </div>
          <div class="col-12">
            <button type="submit" class="btn-primary btn-small ml-auto" [disabled]="couponForm.invalid" style="margin-left: auto; display: block; margin-bottom: 15px;">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
