<section id="productos">
  <div class="section-header section-inverted">
    <!--<button class="btn-secondary btn-small btn-section-header" style="position: relative; z-index: 3; background: white;" [routerLink]="['/shop']">
      <i>
        <img src="../../assets/images/icons/i_cart.svg" alt="Alternate Text" />
      </i>
      Shop
    </button>-->
    <h1 class="section-title" style="color: white">Productos</h1>
  </div>
  <div class="container-fluid beers-large">
    <div class="grid-beers grid-beers-large w-100" >
      <a class="beer-link" *ngFor="let product of products; let last = last" routerLink="/product/{{product.Id}}">{{last ? executeCss() : "" }}
        <img src="{{product.Photo}}" alt="{{product.Descripcion}}}" />
        <div class="beer-hover">
          <h1 class="beer-title">
            {{product.Descripcion}} 
          </h1>
        </div>
      </a>
    </div>
  </div>
</section>
