<section id="productos">
  <div class="section-header section-inverted">
    <!--<button class="btn-secondary btn-small btn-section-header" style="position: relative; z-index: 3; background: white;" [routerLink]="['/shop']">
      <i>
        <img src="../../assets/images/icons/i_cart.svg" alt="Alternate Text" />
      </i>
      Shop
    </button>-->
    <h1 class="section-title" style="color: white">Productos</h1>
  </div>
  <div class="container-fluid beers-large">
    <div class="grid-beers grid-beers-large w-100" >
      <a class="beer-link" *ngFor="let product of nitsuga; let last = last" routerLink="/product/{{product.id}}">{{last ? executeCss() : "" }}
        <img src="{{getBeerPhoto(product)}}" alt="{{product.name}}}" />
        <div class="beer-hover">
          <h1 class="beer-title">
            {{product.name}} - <span>{{product.subCategory.name}}</span>
          </h1>
          <div class="d-flex w-100 beer-spec">
            <p><strong>Amargor:</strong> {{product.amargor}}</p>
            <p><strong>Color:</strong> {{product.color}}</p>
            <p><strong>Alcohol:</strong> {{product.alcoholVol}}</p>
          </div>
          <p class="beer-short-desc">
            {{product.description}}
          </p>
          <mat-divider class="w-100" style="border-top-color: white;"></mat-divider>
          <label class="w-100 artist-name">Artista: {{product.artist}}</label>
        </div>
      </a>
    </div>
  </div>
</section>
