.custom-dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15em;
  border: 6px solid #fff;
  border-radius: 3px;
  padding: 15px;
  background: #f8f8f8;
  outline: 2px dashed #e6e6e6;
  margin-top: 15px;
}
.mat-form-field {
  width: 100%;
}
.image-item {
  position: relative;
}
.image-item {
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
}
.images-group {
  margin: 55px 0;
}
.image {
  min-height: 200px;
  max-height: 200px;
  object-fit: contain;
  height: 100%;
  min-width: 200px;
  width: 100%;
}
a.remImage img {
  box-shadow: none;
  position: absolute;
  right: 7px;
  top: -5px;
  margin-top: 4px;
  opacity: 0;
  display: block;
  transition: all .5s ease-in-out;
}
.remImage {
  color: white !important;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.image-item:hover a.remImage img {
  opacity: 1;
  z-index: 99;
  position: absolute;
  top: 5px;
}
.image-options {
  margin: 1em auto;
}
.image-item:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  top: 0px;
  z-index: 0;
  opacity: 0;
  transition: all .5s ease-in-out;
}
.image-item:hover:after {
  opacity: 1;
}
.form-upsert {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-color: #d7dfe3;
  border-radius: 4px;
  background: white;
  padding: 15px;
}
.form-group {
  margin: 15px 0;
}
.localmark .radiomark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 100%;
}
.localmark {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #5F6772;
  padding-top: 6px;
}
.localmark input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin: 10px 0;
  }
.localmark:hover input ~ .radiomark {
    background-color: #ccc;
    transition: all 150ms ease;
  }
  /* When the checkbox is checked, add a blue background */
.localmark input:checked ~ .radiomark {
    background-color: #54682A;
  }
/* Create the checkmark/indicator (hidden when not checked) */
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.localmark input:checked ~ .radiomark:after {
  display: block;
}
/* Style the checkmark/indicator */
.localmark .radiomark:after {
  left: 9px;
  top: 6px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.section-header {
  font-size: 18px;
  margin-bottom: 40px;
}
.section-title {
  font-family: 'Pier Sans Regular';
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  padding: 5px 15px;
  margin-bottom: 0;
  padding-left: 0;
}
.container-subcategories {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 3px;
    max-width: 550px;
    max-height: 300px;
    box-shadow: 0 0 0 1px rgba(39,44,48,0.05), 0 2px 7px 1px rgba(39,44,48,0.16);    
    position: absolute;
    bottom: -220px;
    z-index: 1000;
    background: white;
    width: 97%;

}
.container-subcategories ul {
  list-style: none;
  padding-left: 0;
}
.list-item {
  padding: 5px 10px;
  padding-right: 20px;
  padding-left: 20px;
  border: 0;
    display: block;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
    border-radius: 0;
    line-height: 24px;
    white-space: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.add-btn {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
}
.custom-dropzone {
  margin-top: 0;
}
.btn-group {
  max-height: 130px;
}
@media screen and (max-width: 688px) {
  .btn-group {
    order: 2;
    margin-top: 30px;
    justify-content: flex-end;
  }
}
