<section id="carrusel" class="carrusel">
  <div class="carrusel flick">
    <div class="carrusel-item">
      <img class="carrusel-img" src="../../assets/images/carrusel/carrusel1.jpg" alt="Nitsuga" />
    </div>
    <div class="carrusel-item">
      <img class="carrusel-img" src="../../assets/images/carrusel/carrusel2.jpg" alt="Nitsuga" />
    </div>
    <div class="carrusel-item">
      <img class="carrusel-img" src="../../assets/images/carrusel/carrusel3.jpg" alt="Nitsuga" />
    </div>
    <div class="carrusel-item">
      <img class="carrusel-img" src="../../assets/images/carrusel/carrusel4.jpg" alt="Nitsuga" />
    </div>
    <div class="carrusel-item">
      <img class="carrusel-img" src="../../assets/images/carrusel/carrusel5.jpg" alt="Nitsuga" />
    </div>
    <div class="carrusel-item">
      <img class="carrusel-img" src="../../assets/images/carrusel/carrusel6.jpg" alt="Nitsuga" />
    </div>
    <div class="carrusel-caption">
      <h3 class="carrusel-caption-text">Transformá tu mundo</h3>
      <a class="btn-primary explore" href="/home#productos">explorar productos</a>
    </div>
  </div>
</section>
