<section class="breadcrumb" id="product-breadcrumb">
  <ul>
    <li class="breadcrumb-link"><a href="/">Inicio</a></li>
    <li class="breadcrumb-link"><a [routerLink]="['/shop']">Shop</a></li>
    <li class="breadcrumb-link"><a>{{product.Descripcion}}</a></li>
  </ul>
</section>
<div id="hero" class="container">
  <picture class="hero-img">
    <source media="(max-width: 445px)" [srcset]="banner ? banner : notBanner"/>
    <source media="(max-width: 668px)" [srcset]="banner ? banner : notBanner"/>
    <img [src]="banner ? banner : notBanner" alt=""/>
    <span class="overlay"></span>
  </picture>
  <div class="caption">
    <img src="../../../assets/images/brand/nitsugaB.svg" alt="Nitsuga Logo" class="nitsuga-logo col-8 col-md-4 m-auto"/>
  </div>
</div>
<section>
  <mat-spinner [diameter]="50" *ngIf="loading"></mat-spinner>
  <div class="container">
    <div class="section section-gray">
      <div class="section-content">
          <div class="product-details">
              <ul class="product-info">
                  <li class="product-name">{{product.Descripcion}}</li>
                  <li class="product-price"><span>{{product.Precio}}</span><span>{{product.Descripcion}}</span></li>
                  
                  <li class="product-addtocart">
                      <button>Agregar al carrito</button>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <section id="productos">
    <div class="section-header section-inverted">
      <!--<button class="btn-secondary btn-small btn-section-header" style="position: relative; z-index: 3; background: white;" [routerLink]="['/shop']">
        <i>
          <img src="../../assets/images/icons/i_cart.svg" alt="Alternate Text" />
        </i>
        Shop
      </button>-->
      <h1 class="section-title" style="color: white">Productos</h1>
    </div>
    <div class="container-fluid beers-large">
      <div class="grid-beers grid-beers-large w-100" >
        <a class="beer-link" *ngFor="let product of product.Recomendaciones; let last = last" routerLink="/product/{{product.Id}}">{{last ? executeCss() : "" }}
          <img src="{{product.Photo}}" alt="{{product.Descripcion}}}" />
          <div class="beer-hover">
            <h1 class="beer-title">
              {{product.Descripcion}} 
            </h1>
          </div>
        </a>
      </div>
    </div>
  </section>
  
  </div>
</section>
