@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<strong class=text-center><p class="color--twitter">ACERCA DE NOSOTROS</p></strong>
<div>
    <li class="text-center">
        <b>Guadalupe Diaz:</b> Estudiante de Cuarto Año en Ing. Informatica de la UAA (Universidad Autonoma de Asuncion), 22 años de edad, nació un 2 de Agosto de 1997.
        Estudio y se Graduo despues de 13 años en la Escuela/Colegio Nihon Gakko. Actualmente es profesora de Danza Superior egresada de la Academia Elizabeh Vinader y es Docente de Alumnos Infantiles en la Escuela Nihon Gakko en el Area de Idioma Japones.<br />
    </li>
</div>
<div>
    <img src="~/SiteContent/images/Guada.PNG" alt="Guadalupe Díaz">
</div>
<div>
    <li class="text-center">
        <b>Fernando López:</b> Estudiante de "Cuarto Año" en Ing. Informatica de la UAA (Universidad Autonoma de Asuncion), nació un 07 de mayo de 1998, actualmente tiene 21 años y trabaja en la empresa SEGUROS PATRIA. Se recibió en el Colegio Salesianito
        en el año 2015 con Enfasis Tecnico en Diseño Grafico. Suele desarrollar su faceta de Docente a niños en la parte de Tipeo e Informatica en general.<br />
    </li>
</div>
<div>
    <img src="~/SiteContent/images/Fer.PNG" alt="Fernando López">
</div>
<div>
    <li class="text-center">
        <b>Ayrton Giménez:</b> Nació el 19 de mayo de 1998, Se recibió en Bachillerato Técnico en Contabilidad del Colegio Pte. Franco, actualmente se encuentra trabajando en Rugertek, una empresa centrada al desarrollo de aplicaciones Web.
        Cuenta con unos 2 años de experiencia en el hámbito de la progrmación, pasando por la Universidad, el grupo HR y terminando en el lugar donde trabaja ahora.
    </li>
</div>
<div>
    <img src="~/SiteContent/images/Ayrton.PNG" />
</div>
<div>
<li class="text-center">
    <b>Gustavo Talavera:</b> Nació un 8 de Agosto de 1997 en la ciudad de San Antonio, 
    actualmente trabaja como instructor informatico en la Universidad Autonoma de Asuncion, es uno de los mas antiguo en su jurisdiccion y Jefe de su Área.
</li>
</div>
<div>
    <img src="~/SiteContent/images/Gustavo.PNG" />
</div>
<div>
    <li class="text-center">
        <b>Martín Gimenez:</b> Estudiante de Ing. Informatica en la UAA, se recibió en la famosa y prestigiosa Escuela/Colegio Bautista de Villa Morra y trabaja como desarrollador Mid-Senior. Uno de sus Hobbies
        mas queridos es la fotografía, y el audio-video. Cuando sea grande quiere ser piloto ya que tiene una gran pasión por la piloteacion en los examenes. Aunque todos tenemos un piloto dentro nuestro listo
        para salir en un examen.
    </li>
</div>
<div>
    <img src="~/SiteContent/images/Martin.PNG" />
</div>