@{
    ViewBag.Title = "Contact";
}
<div class="htc__product__area ptb--130 bg__white">
    <div class="container">


        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            <div class="col-md-8 col-lg-8 d-none d-md-block">
                <input type="text" name="consultas" class="">

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Click para elegir
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Sugerencia</a>
                        <a class="dropdown-item" href="#">Intereses</a>
                        <a class="dropdown-item" href="#">Quejas</a>
                    </div>
                </div>

                <input id="Button1" type="submit" value="Enviar" />
            </div>
        </address>
    </div>
</div>