@{
    ViewBag.Title = "Contact";
}
<div class="htc__product__area ptb--130 bg__white">
    <div class="container">


        <h2>Contacto</h2>
        <h3>@ViewBag.Message</h3>

        <!--<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>-->
        <h4>Buzón de Reclamos/Sugerencias, escribinos!</h4>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            <br /><br />
            <div class="col-md-8 col-lg-8 d-none d-md-block">
                <form method="post">
                    <label>Nombre completo</label>
                    <input type="text" name="nombreCompleto" maxlength="50" placeholder="" class="">
                    <label>Email</label>
                    <input type="email" name="email" maxlength="40" placeholder="" class="">
                    <label>Reclamos/Sugerencias/Puteadas</label>
                    <textarea style="background: none;" name="consultas" placeholder=""></textarea>
                    <label>Interes</label>
                    <div class="dropdown">
                        <select name="interes">
                            <option>Sugerencia</option>
                            <option>Sugerencia</option>
                            <option>Sugerencia</option>
                        </select>
                    </div>

                        <!--<div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Click para elegir


                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Sugerencia</a>
                                <a class="dropdown-item" href="#">Intereses</a>
                                <a class="dropdown-item" href="#">Quejas</a>
                            </div>
                        </div>-->

                    <input id="Button1" type="submit" value="Enviar" />
                </form>
            </div>
            

        </address>
    </div>
</div>